:root {
  --color__primary: #0077b1;
  --color__primary-lightest: #0077b133;
  --color__dark: #333;
  --color__light: #fff;
  --color__light-border: #ccc;
}

html, body, .content, .content--wide {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color__dark);
  background-color: var(--color__light);
}

h1 {
  font-size: 32px;
  margin-top: 22px;
  margin-bottom: 22px;
  color: var(--color__dark);
}

h2 {
  font-size: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
  color: var(--color__dark);
}

p, li {
  font-size: 18px;
  line-height: 1.5em;
  color: var(--color__dark);
}

li {
  margin-bottom: 16px;
}

p, ul, ol {
  margin-bottom: 24px;
}

ul, ol {
  margin: 0;
  padding-left: 16px;
  list-style-position: outside;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color__light-border);
  border: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

a, a:visited {
  color: var(--color__primary);
}

figcaption {
  color: #8b8b8b;
  margin: -16px 0 32px;
  text-align: center;
}

article img {
  max-width: 100%;
  border: 1px solid var(--color__light-border);
}

blockquote,
blockquote p {
  margin: 0;
  padding: 0;
}

blockquote {
  border-left: 4px solid var(--color__primary);
  padding: 0 16px;
}

blockquote p {
  opacity: .8;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

  @media (max-width: 700px) {
      nav {
        margin-bottom: 24px;
        margin-top: 24px;
        overflow: scroll;
        white-space: nowrap;
      }
  }

nav ul,
nav ul li,
footer ul,
footer ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul,
footer ul {
  display: flex;
  align-items: center;
  width: 100%;
}

nav ul {
  margin-right: -8px;
}

nav ul li,
footer ul li {
  padding-right: 8px;
  padding-left: 8px;
}

nav img {
  width: 48px;
}

nav ul li:first-child {
  margin-right: auto;
  margin-left: -8px;
}

nav ul li:last-child {
  margin-right: -8px;
}

footer {
  margin-top: 48px;
  margin-bottom: 32px;
}

footer ul {
  margin-left: -8px;
}

@media (max-width: 700px) {
    footer ul {
      flex-direction: column;
      align-items: flex-start;
    }
}

.content {
  max-width: 600px;
  margin: auto;
}

  .content--wide {
    max-width: 960px;
    margin: auto;
  }

  @media (max-width: 700px) {
      .content {
        padding-left: 24px;
        padding-right: 24px;
      }
  }

/* Mea Culpa */
.formkit-powered-by-convertkit-container {
  display: none !important;
}

.formkit-input,
.formkit-submit {
  height: 42px !important;
}

.formkit-input:focus {
  border-color: var(--color__primary) !important;
  box-shadow: 0 0 0 4px var(--color__primary-lightest) !important;
}

.newsletter {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 24px;
}

.newsletter__spam {
  text-align: center;
  margin: 0 0 16px;
  font-size: 16px;
  opacity: .8;
}

.banner {
  background-color: #7735F9;
  background-image: url("/img/web3-fun-bg.png");
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 32px 24px;
  position: relative;
}

.banner p {
  margin: 0;
  color: #fff;
}

.banner p a,
.banner p a:visited {
  color: #fff;
}

.figma-folio {
  width: 100%;
  height: 75vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

/* CommandBar style overrides */


.rc-dialog-wrap.commandbar-modal {
  background-color: #4a4e6f45;
  backdrop-filter: blur(3px);
}