---
title: Writing
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>

  <div class="content--wide ">
    {% include navigation.html %}

    <h1 class="title">Hi Friend</h1>
    <p class="p--large">I'm Tyler. I <a href="/timeline">build things</a> (mostly) on the internet as an entrepreneur, designer, and engineer. In a past life I designed video games. More recently I design the interfaces for software products. In my off time <a href="https://www.instagram.com/cherrystreetrenovation/" target="_blank">I'm renovating</a> a 100-year old house. It's good to see you.</p>
    {% include copyright.html %}
  </div>

  {% include scripts.html %}
</body>
</html>
