<div class="about">
    <div class="heading">About</div>
    <div class="hr"></div>
    <p>I'm <a href="//twitter.com/twanlass">Tyler Wanlass</a>. A <a href="//folio.tdub.co">designer</a> and entrepreneur who loves code and shipping product, currently at <a href="//buffer.com">Buffer</a> building <a href="//buffer.com/respond/">Respond</a>.</p>
    <p>Previously I founded <a href="//simplegoods.co">Simple Goods</a>, a lightweight ecommerce platform for selling digital products and We Are Altitude, a digial product agency.</p>
    <p>I'm currently located north of Seattle with my lovely wife and daughter.</p>
</div>
