<div class="about">
    <div class="heading">About</div>
    <div class="hr"></div>
    <p>I'm <a href="//twitter.com/twanlass">Tyler</a>, a <a href="//folio.tdub.co">designer</a> and entrepreneur who loves code and shipping product. I'm currently Head of Design at <a href="//buffer.com">Buffer</a>.</p>
    <p>Previously I founded <a href="//simplegoods.co">Simple Goods</a>, a lightweight ecommerce platform for selling digital products and We Are Altitude, a digial product agency.</p>
    <p>I'm currently living Bellingham WA with my lovely wife and two daughters.</p>
</div>
