<footer>
  <p>
    <ul>
      <li><a href="mailto:hello@tdub.co" target="_blank">Email ↗</a></li>
      <li><a href="https://twitter.com/twanlass" target="_blank">Twitter ↗</a></li>
      <li><a href="https://github.com/twanlass" target="_blank">Github ↗</a></li>
      <li><a href="https://dribbble.com/twanlass" target="_blank">Dribbble ↗</a></li>
      <li><a href="https://www.linkedin.com/in/twanlass/" target="_blank">LinkedIn ↗</a></li>
    </ul>
  </p>
  <p>&copy; {{ 'now' | date: "%Y" }} Tyler Wanlass ✌️</p>
</footer>
