<footer>
  <hr />
  <p>Hi Friends! I'm Tyler. I <a href="/timeline">build things</a> (mostly) on the internet as an entrepreneur, designer, and engineer. In a past life I designed video games. Most recently I lead Design + Product at <a href="https://buffer.com" target="_blank">Buffer</a>. In my off time <a href="https://www.instagram.com/cherrystreetrenovation/" target="_blank">I'm renovating</a> a 100-year old house. Good to see you!</p>
  <p>
    <ul>
      <li><a href="mailto:hello@tdub.co" target="_blank">Email</a></li>
      <li><a href="https://twitter.com/twanlass" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/twanlass" target="_blank">Github</a></li>
      <li><a href="https://dribbble.com/twanlass" target="_blank">Dribbble</a></li>
      <li><a href="https://www.linkedin.com/in/twanlass/" target="_blank">LinkedIn</a></li>
      <li><a href="https://etherscan.io/address/0xb99d1019fb5b21bb3d1630f1d6e809eb300931cd" target="_blank">Tdub.eth</a></li>
    </ul>
  </p>
  <p>&copy; {{ 'now' | date: "%Y" }} Tyler Wanlass.</p>
  <p>✌️</p>
</footer>
