<div class="email-subscribe">
  <h3>I send a very occasional newsletter on startups, product, and design. Want in?</h3>
  <form action="http://tdub.us7.list-manage.com/subscribe/post" method="POST">
    <div class="input-wrapper">
      <input type="email" class="email-subscribe__email" spellcheck="false" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="Your Email Address">
      <input type="submit" class="email-subscribe__submit btn" name="submit" value="Heck Yes →">
    </div>
    <div style="display:none;">
      <input type="text" name="b_691e05e077b45ecc16b8e7074_19ed7c0668" value="">
      <input type="hidden" name="u" value="691e05e077b45ecc16b8e7074">
      <input type="hidden" name="id" value="19ed7c0668">
      <input type="hidden" name="SOURCE" id="SOURCE" value="tdub.co-blog" />
    </div>
  </form>
</div>
