<div class="email-subscribe">
  <h3>Did you enjoy this post? Subscribe below for occasional updates in your inbox:</h3>
  <form action="http://tdub.us7.list-manage.com/subscribe/post" method="POST">
    <div class="clearfix">
      <label for="MERGE1">First Name</label>
      <input type="text" name="MERGE1" id="MERGE1" value="" placeholder="Your First Name">

      <label for="MERGE0">Email Address</label>
      <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="Your Email Address">

      <input type="submit" class="btn" class="button" name="submit" value="Subscribe">
    </div>
    <span>Don't worry, I never send spam and you can unsubscribe at any time.</span>

    <div style="display:none;">
      <input type="text" name="b_691e05e077b45ecc16b8e7074_19ed7c0668" value="">
      <input type="hidden" name="u" value="691e05e077b45ecc16b8e7074">
      <input type="hidden" name="id" value="19ed7c0668">    
      <input type="hidden" name="SOURCE" id="SOURCE" value="tdub.co-blog" />
    </div>

  </form>
</div>