
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Tyler Wanlass | Remote Product and Design leader @Buffer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <!-- for Google -->
  <meta name="description" content="Tyler Wanlass. VP of Design @Buffer I tweet about startups, product, design, and leadership. Synesthete, ENTJ" />
  <meta name="keywords" content="tyler wanlass, startups, product management, product design, entreprenuership, remote leadership" />

  <meta name="author" content="Tyler Wanlass" />
  <meta name="copyright" content="&copy; {{ 'now' | date: "%Y" }} Tyler Wanlass" />

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ site.url }}/img/tw-favicon.png" />

  <!-- for Facebook -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="{{ site.url }}/img/tdub-headshot-2020-sq.jpg" />
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
  <meta property="og:description" content="Tyler Wanlass | Remote Product and Design leader" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="Tyler Wanlass | Remote Product and Design leader" />
  <meta name="twitter:image" content="/img/me.jpg" />

  <link rel="stylesheet" href="{{ site.url }}/css/normalize.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;700&family=Inter:wght@300;500;900&display=swap" rel="preload" rel="stylesheet">
</head>
