<nav>
  <ul>
    <li><a href="/"><img class="tw-logo" src="/img/tw-logo.png"/></a></li>
    <li>🐰 <a href="https://web3.tdub.co" target="_blank">Newsletter</a></li>
    <li><a href="/" class="{% if page.url contains '/blog' or page.url == '/'  %}nav--active{% endif %}">Writing</a></li>
    <li><a href="/principles" class="{% if page.url contains '/principles'%}nav--active{% endif %}">Principles</a></li>
    <li><a href="/now" class="{% if page.url contains '/now'%}nav--active{% endif %}">Now</a></li>
    <li><a href="/timeline" class="{% if page.url contains '/timeline'%}nav--active{% endif %}">Timeline</a></li>
  </ul>
</nav>
