<script type="text/javascript" src='/../js/vendor/instantclick.min.js'></script>
<script type="text/javascript">
  window.tdub = {
    init: function(){
      this.widont()
    },

    widont: function(items){
        items = document.querySelectorAll('.post p, h1, h1 a, h2, h3, li')
        for (i=0; i < items.length; i++) {
            items[i].innerHTML = items[i].innerHTML.replace(/\s([^\s<]+)\s*$/,'&nbsp;$1')
        }
    }
  }
</script>

<script data-no-instant>
  InstantClick.on('change', function(){
    window.tdub.init();
  });
  InstantClick.init();
</script>
