<div class="sidebar">
    <nav>
        <ul class="clearfix">
            <li><a href="/">Blog</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
    <img class="avatar" src="/../img/me.jpg">
    <h1>Tyler Wanlass</h1>
    <p>I'm an entrepreneur &amp; designer who writes about startups, freelancing and design.</p>
    <p>Author of <a href='http://freelancerplaybook.com/?r=tdub.co'>The Freelancer Playbook</a></p>
    <p>Partner and creative at <a href='http://wearealtitude.com/?r=tdub.co'>We Are Altitude Inc.</a></p>
    <div class="footer">
        <a href="http://www.twitter.com/@twanlass">@twanlass</a> /  <a href="mailto:hello@tdub.co?Subject=Hello">hello@tdub.co</a>
    </div>
</div>