<div class="sidebar">
    <nav>
        <ul class="clearfix">
            <li><a href="/">Blog</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
    <img class="avatar" src="/../img/me.jpg">
    <h1>Tyler Wanlass</h1>
    <div class="bio-group">
      <p>Partner and creative at
        <a href='http://wearealtitude.com/?r=tdub.co'>We Are Altitude Inc.</a>
      </p>
      <p>Writer at the
        <a href='http://freelancerplaybook.com/?r=tdub.co'>Freelancer Playbook</a>
      </p>
      <p>Creator of
        <a href='http://resplashed.com/?r=tdub.co'>re:splashed</a>
      </p>
      <p>Co-founder at
        <a href='http://simplegoods.co/?r=tdub.co'>Simple Goods</a>
      </p>
    </div>
    <div class="footer">
        <a href="http://www.twitter.com/@twanlass">@twanlass</a> /  <a href="mailto:hello@tdub.co?Subject=Hello">hello@tdub.co</a>
    </div>
</div>