<div class="sidebar">
    <nav>
        <ul class="clearfix">
            <li><a href="/">Blog</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/shop">Shop</a></li>
        </ul>
    </nav>
    <img class="avatar" src="/../img/me.jpg">
    <h1>Tyler Wanlass</h1>
    <p>I'm an entrepreneur &amp; designer. I write about startups and design. I build businesses and products.</p>
    <div class="footer">
        <a href="http://www.twitter.com/@twanlass">@twanlass</a> /  <a href="mailto:hello@tdub.co?Subject=Hello">hello@tdub.co</a>
    </div>
</div>