<div class="social-share-bar clearfix">
  <h3>Want to show your friends you're good looking <strong>and</strong> smart? Share this post with them ;-)</h3>
  <div class="btn-group">
    <a class="btn fb" href="https://facebook.com/sharer.php?u=http://www.tdub.co{{ page.url }}" target="_blank">Facebook</a>
    <a class="btn twitter" href="https://twitter.com/intent/tweet?url=http://www.tdub.co{{ page.url }}&amp;text={{ page.title }}&amp;via=twanlass" target="_blank">Twitter</a>
    <a class="btn hn" target="_blank" href="http://news.ycombinator.com/submitlink?u=http://www.tdub.co{{ page.url }}&amp;t={{ page.title }}" target="_blank">Hacker News</a>
    <a class="btn buffer" href="http://bufferapp.com/add?text={{ page.title }}&amp;url=http://www.tdub.co{{ page.url }}" target="_blank">Buffer</a>
  </div>
</div>