<div class="social-share-bar clearfix">
  <div class="btn-group">
    <a class="btn fb" href="https://facebook.com/sharer.php?u=http://www.tdub.co{{ page.url }}/?r=fb" target="_blank">Share</a>
    <a class="btn twitter" href="https://twitter.com/intent/tweet?url=http://www.tdub.co{{ page.url }}/?r=twitter&amp;text={{ page.title }}&amp;via=twanlass" target="_blank">Tweet</a>
    <a class="btn buffer" href="http://bufferapp.com/add?text={{ page.title }}&amp;url=http://www.tdub.co{{ page.url }}/?r=buffer" target="_blank">Buffer</a>
    <a class="btn pocket" href="https://getpocket.com/save?url={{ page.title }}&amp;url=http://www.tdub.co{{ page.url }}/?r=buffer" target="_blank">Pocket</a>
  </div>
</div>
