---
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
  <div class="content">
    {% include navigation.html %}
    <article class="post">
      <h1>{{ page.title }}</h1>
      {{ content }}
      {% include copyright.html %}
    </article>
  </div>

  <script type="text/javascript" src='/../js/vendor/instantclick.min.js'></script>
  {% include scripts.html %}

</body>
</html>
